<MarketplaceDetails>
  <SmallAppTile>Store Tile.png</SmallAppTile>
  <ScreenShots>1.PNG;2.PNG;3.PNG;4.PNG;5.PNG;;;;</ScreenShots>
  <ScreenShotsWXGA>111.png;222.png;333.png;444.png;555.png;;;;</ScreenShotsWXGA>
  <ScreenShots720P>11.PNG;22.PNG;33.PNG;44.PNG;55.PNG;;;;</ScreenShots720P>
</MarketplaceDetails>